@import '../../css/variables';

.article-select {
  background: var(--codeBg);
  border-radius: 3px;
  margin-bottom: 24px;
  color: var(--textNormal);
  padding: 0.35em 0;
  @media (min-width: $tablet-breakpoint) {
    display: none;
  }
}
