@import '../../css/variables';

.article {
  /*max-width: 1200px;*/
  max-width: 1400px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .article {

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
  }
  
  }
  
  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 .article {

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
  }
  
}


.article__inner {
  max-width: 800px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: stretch;
  /*padding: 24px 0;*/
  padding: 0.75rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin-top: 0.25rem;
  pre, code, img, span,div, div.gatsby-highlight{
  width:100%;
  }
  @media (min-width: $tablet-breakpoint) {
    /*padding: 24px 48px;*/
	padding: 0.75rem 1.5rem;
  }
}
