@import '../../css/variables';

.header {
  /*background: $daisy-eclipse;*/
  background: var(--navBackground);
  position: fixed;
  width: 100%;
  /*height: 60px;*/
  /*height: 62px;*/
  height: 	54px;
  padding: 16px 0;
  z-index: 102;
}
