@import 'reset';
@import 'variables';


body {
--textNormal: rgba(14, 30, 37, 0.87);
--textNeutral: rgba(255,255,255,0.87) ;
--codeNormal: /*#252c33;*/ rgba(14, 30, 37, 0.87);
--textHeading: rgba(14, 30, 37, 0.9);
--bodyBackground: #f9f9f9;
--navText: rgba(255,255,255,0.95);
--navBackground:#141C3A;
--articleBackground: #fff;
--linkNormal: #53f; /*#6200EE*/
--dropdownMenu: #FFF;
--searchBackground:#FFF;
--searchColor: rgba(14, 30, 37, 0.87); 
--border: 1px solid rgba(0, 0, 0, 0.05);
--theadBackground: transparent;
--tdBorder: 1px solid rgba(0, 0, 0, 0.1);
--codeBackground: #F7F7F7;
--quoteBackground: #CAFFEA;
--betanoteBackground: rgba(45,104,244,0.3);
--darkToggle: rgba(255,255,255,0.95);
--codeColor: #900;
-codeBackground: #f4e5e5;
--prism-comment: #527713;
--prism-property: #137886;
--prism-punctuation: #53450e;
--prism-selector: #b94185;
--prism-atrule: #096fb3;
--prism-inserted: #088413;
--prism-deleted: #da0013;
--prism-regex: #dc0437;
--prism-string: #a2466c;
--prism-empty: #e0d7d1;

--prism-comment: #527713;
--prism-property: #137886;
--prism-punctuation: #53450e;
--prism-selector: #b94185;
--prism-atrule: #096fb3;
--prism-inserted: #088413;
--prism-deleted: #da0013;
--prism-regex: #dc0437;
--prism-string: #a2466c;
--prism-empty: #e0d7d1;



color: var(--textNormal);
background: var(--bodyBackground);

}
body.dark{
/*material dark scheme*/

--textNormal: rgba(255,255,255,0.87);
--textNeutral: rgba(14, 30, 37, 0.87);
--codeNormal: rgba(255,255,255,0.87);
--textHeading: rgba(255,255,255, 0.95);
--bodyBackground: #181818;
--navText: rgba(255,255,255,0.95);
--navBackground:#202020;
--articleBackground: #181818;
--linkNormal: #BB86FC;
--dropdownMenu: #2D2D2D;
--searchBackground: #2D2D2D;
--searchColor: rgba(255,255,255, 0.95); 
--border: 1px solid #181818;
--tdBorder: 1px solid rgba(255,255,255,0.15);
--theadBackground:transparent;
--codeBackground: #1E1E1E;
--quoteBackground: #1E1E1E;
--betanoteBackground: #1E1E1E;
--darkToggle: #03DAC6;
--codeColor: #03dac6;
-codeBackground: #1e1e1e;
--prism-comment: #d9d7e0;
--prism-property: /*#2de3da;*/#03DAC6;
--prism-punctuation: rgba(255,255,255,0.7);
--prism-selector: #ffe4a1;
--prism-atrule: #e899ce;
--prism-inserted: #37b635;
--prism-deleted: #ff5a54;
--prism-regex: #d88489;
--prism-string: #ffb238;
--prism-empty: #e0d7d1;


color: var(--textNormal);
background: var(--bodyBackground);

}




/*solarized blue scheme*/
/*
--textNormal: #a2b8cd;
--textHeading: rgba(255,255,255, 0.95);
--bodyBackground: #0E2439;
--navBackground:#1F364D;
--articleBackground: #0E2439;
*/

td, th{
border-bottom: var(--tdBorder);
}


p code.language-text{
	color: var(--codeColor);
	background: var(-codeBackground)!important;
	border: 0px solid!important;
	font-size: 17px;
	vertical-align: text-top;
	
}




body {
  
 /* font-family: 'Roboto', sans-serif;*/
 /*font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;*/
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
line-height: 1.6;
}

p, a, blockquote, th, td, li, img{

}


optgroup{
font-weight: 500;
}

code, pre, iframe, table, .gatsby-highlight{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;

}

thead{
background-color: var(--theadBackground);
color: var(--textHeading);
}




@media (min-width: 320px) and (max-width: 480px) {
td, th{
padding: 0;
}
}	

@media (min-width: 320px) and (max-width: 480px) {
  
code, pre, iframe, table, .gatsby-highlight{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;

}
  
}

.article__inner{
h3{
	border-top: var(--border);
	padding-top: 1rem;
	margin-top: 1.45rem;
	
}

}

table{
  font-size: 18px;
  line-height: 28px;
	th{
	font-weight: 500;	
	}
}


a {
  color: var(--linkNormal);
  transition: color .15s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textHeading);
  font-weight: 500;
}

h1{
	font-size: 1.9rem;
	line-height: 1.25;
}


h1.title{
	
	
}
.wrapper {
  /*padding-top: 60px;*/
  padding-top: 54px;
}
/*
code.language-text {
    background: #f4e5e5!important;
    color: #900!important;
}
*/	
.hero {
 /* background: url("../images/pattern.png") $daisy-blue;*/
  background: url("https://d33wubrfki0l68.cloudfront.net/d4049d1dde1c50cf24d8d367b959b4abc9e83094/1ad81/hero.svg") var(--navBackground);
  color: $daisy-white;
}

.hero__wrapper {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
 /* padding-top: 95px;*/
  /*padding-bottom: 85px;*/
    padding-top: 70px;
	padding-bottom: 70px;
  text-align: center;

  h1 {
    color: $daisy-white;
    font-weight: 400;

    @media (min-width: $mobile-breakpoint) {
      font-size: 60px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.5;
  }
}

strong, b{
font-weight: 500;
}

blockquote{
border-radius: 4px;
margin: 0 0 1.45rem 0;
background: var(--quoteBackground);
}

.footer-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.footer-column {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.footer-column-block {
  display: inline-block;
}

.upvote {
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;

  &--down {
    position: relative;
    top: 0px;
  }
}

.homepage-content {
  margin-top: 64px;
  margin-bottom: 64px;
}

.homepage-content__wrapper {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.background {
  background-color: rgba(45,104,244, 0.1);
}

.betanote {
  background-color: var(--betanoteBackground);
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 12px;
  margin-bottom: 1.45rem;
  border-left: 6px solid #2D68F4;
  border-radius: 4px;
  
  p{
	  
	  margin-bottom: 0px;
  }
}






/*
li.navigation__item ul.drop-down{
	position: absolute;
    min-width: 122px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px -8px;
    list-style: none;
    padding: 3px;
    border-radius: 4px;
    transition: opacity 0.143s ease 0s, -webkit-transform 0.143s ease 0s, transform 0.143s ease 0s;
	opacity: 0;
    pointer-events: none;
    transform: scale(0.9) translateY(-10px);
	padding: 5px 10px;
    border-radius: 4px;
	font-size: 18px;	
	}
	
	
li.navigation__item:hover ul.drop-down{	
	position: absolute;
    min-width: 122px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px -8px;
    list-style: none;
    padding: 3px;
    border-radius: 4px;
    transition: opacity 0.143s ease 0s, -webkit-transform 0.143s ease 0s, transform 0.143s ease 0s;
	opacity: 1;
    transform: scale(1) translateY(0px) !important;
	padding: 5px 10px;
    border-radius: 4px;
	font-size: 18px;
	
	}
	
	*/
	
	
	
	
	li.navigation__item ul.drop-down{
	position: absolute;
    min-width: 122px;
    margin-top: 0px;

    list-style: none;

    border-radius: 4px;
    transition: opacity 0.143s ease 0s, -webkit-transform 0.143s ease 0s, transform 0.143s ease 0s;
	
    transform: scale(0.9) translateY(-10px);
	opacity: 0;
	padding: 5px 10px;
    border-radius: 4px;
	border: 0px solid rgba(0, 0, 0, 0.05);
	font-size: 18px;	
	margin-left: 0;
	z-index: 1000;
	background-color: var(--dropdownMenu);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	position: absolute;
	}
	
	
	
li.navigation__item:hover ul.drop-down{	
	position: absolute;
    min-width: 122px;
    margin-top: 0px;

    list-style: none;
 
    border-radius: 4px;
	border: 0px solid rgba(0, 0, 0, 0.05);
    transition: opacity 0.143s ease 0s, -webkit-transform 0.143s ease 0s, transform 0.143s ease 0s;
	opacity: 1;
    transform: scale(1) translateY(0px) !important;
	padding: 5px 10px;
    border-radius: 4px;
	font-size: 18px;
	margin-left: 0;
	z-index: 1000;
	background-color: var(--dropdownMenu);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	position: absolute;
	}
	
	li.navigation__item:hover ul.drop-down li{
	font-size: 18px;
	padding: 0.225rem 0.5rem;
}	
	
	li.navigation__item.drop-down-parent a.navigation__link::after{
	content: "‹";
    width: 14px;
    height: 100%;
    margin-left: 5px;
    transform: rotateZ(-90deg) translateX(3px);
	display: inline-block;
    align-self: center;
	
	}
	
	
	ul.drop-down:before {
    content: "◆";
    color: var(--dropdownMenu);
	
	font-size: 24px;
    position: absolute;
    top: -19.5px;
	left: 18px;
    display: block;
	box-shadow: none;
	border: 0px;
	z-index: 98;
	

	border-radius: 0px;
	box-shadow: none;
}







.error-page{
	max-width: 924px;
	margin: 24px auto;
	h1{
	font-size: 50px;
	line-height: 58px;
	}
	
	p{
	font-size: 22px;
	line-height: 35px;
	}

}


li.join-us.navigation__item a.navigation__link{
background: $lime-green;
color: var(--navBackground);
}	






/*prismjs customizations */  



/*prismjs customizations */  
:not(pre) > code[class*="language-"], pre[class*="language-"]{
background: var(--codeBackground)!important;
border: 1px solid rgba(0, 0, 0, 0.05);
border-radius: 4px;
}





code[class*=language-],
pre[class*=language-] {
	/*color: #000;*/
	color: var(--codeNormal);
	background: 0 0;
	/*text-shadow: 0 1px #fff;*/
	text-shadow: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none
}

code[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
pre[class*=language-]::-moz-selection {
	text-shadow: none;
	background: #b3d4fc
}

code[class*=language-] ::selection,
code[class*=language-]::selection,
pre[class*=language-] ::selection,
pre[class*=language-]::selection {
	text-shadow: none;
	background: #b3d4fc
}

@media print {
	code[class*=language-],
	pre[class*=language-] {
		text-shadow: none
	}
}

pre[class*=language-] {
	padding: 0 1em 1em 1em;
	margin: 0 0 1em 0;
	overflow: auto
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
	background: #f5f2f0
}

:not(pre)>code[class*=language-] {
	padding: .1em;
	border-radius: 4px;
	white-space: normal
}







.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--prism-comment);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol {
	color: var(--prism-property);
}

.token.punctuation {
	color: var(--prism-punctuation); 
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin {
	color: var(--prism-selector);  
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: var(--prism-atrule);  
}

.token.inserted {
	color: var(--prism-inserted); 
}

.token.deleted {
	color: var(--prism-deleted);
}

.token.regex,
.token.important {
	color: var(--prism-regex); 
}

.language-css .token.string,
.style .token.string {
	color: var(--prism-string); 
}

.token.important {
	font-weight: 400;
}

.token.bold {
	font-weight: 700;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token-line>span.token:empty::after {
	min-height: 1em;
	display: inline-block;
	content: "";
}

.namespace {
	opacity: 0.7;
}

.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: var(--prism-empty); 
}


/*# sourceMappingURL=prism.min.css.map */



input.dark-toggle{
display: none;
}







.gatsby-highlight pre[class*="language-"]::before {
    color: #232129;
    font-size: 0.75rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    letter-spacing: 0.075em;
    line-height: 1;
    position: relative;
    left: .5rem;
    text-align: right;
    text-transform: uppercase;
    top: 0px;
    border-radius: 0px 0px 4px 4px;
    padding: 0.25rem 0.5rem;
	    display: block;
    width: fit-content;
    margin-bottom: 0.5rem;
	
}

.gatsby-highlight pre[class="language-html"]::before {
    content: "html";
    color: #ffffff;
    background: rgb(0, 90, 156);
}


.gatsby-highlight pre[class="language-css"]::before {
    content: "css";
    color: #ffffff;
    background: rgb(255, 152, 0);
}
.gatsby-highlight pre[class="language-text"]::before {
    content: "text";
}
.gatsby-highlight pre[class="language-javascript"]::before {
    content: "js";
    background: rgb(247, 223, 30);
}

.gatsby-highlight pre[class="language-shell"]::before {
    content: "shell";
}

.gatsby-highlight pre[class="language-json"]::before, .gatsby-highlight pre[class="language-json5"]::before {
    content: "json";
    background: linen;
}


.gatsby-highlight pre[class="language-jsx"]::before {
    content: "jsx";
    background: rgb(97, 218, 251);
}

.gatsby-highlight pre[class="language-markdown"]::before {
    content: "md";
}
.gatsby-highlight pre[class="language-bash"]::before {
    content: "bash";
}

.gatsby-highlight pre[class="language-yaml"]::before {
    content: "yaml";
    background: rgb(255, 168, 223);
}

.gatsby-highlight pre[class="language-graphql"]::before {
    content: "GraphQL";
    color: #ffffff;
    background: rgb(225, 0, 152);
}


.gatsby-highlight pre::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
	background-color: var(--textNormal);
	
}




::-webkit-scrollbar {
	width: 8px;
	height: 8px
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: var(--dropdownMenu);
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: #c7c7c7;
}






/*scrollbar styling*/
/*

::-webkit-scrollbar {
	width: 8px;
	height: 6px
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #c7c7c7;
	-webkit-border-radius: 10px;
	border-radius: 10px
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #c7c7c7;
	-webkit-box-shadow: inset 0 0 6px #c7c7c7
}

*/

/*scrollbar styling*/


.gatsby-code-button[data-tooltip]:hover:after, .gatsby-code-button[data-tooltip]:focus:after{
	
display: none;
}
svg.gatsby-code-button-icon{
	display: none;
	
}


.run{
	float: right;
    bottom: -1.9rem;
    z-index: 100;
    right: 1.9rem;
    opacity: 1;
    position: relative;
	text-decoration: none;
	font-size: 16px;
	border:2px solid var(--codeBackground);

	line-height: 21px;
	&:hover {
		bottom: -1.9rem;
		right: 1.85rem;
		position: relative;
		font-size: 16px;
		/*color: var(--textNeutral);*/
		border:1px solid var(--linkNormal);
		padding: 1px 2px;
		border-radius: 3px;
		line-height: 21px;
	}
}
